body {
  background: #0a0d30;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  position: fixed;
  font-family: "Share Tech Mono", monospace;
  color: #fff;
  margin-left: 3em;
  margin-top: 1.5em;
  pointer-events: painted;
}

header {
  pointer-events: none;
}

header h1 {
  margin-top: 1.5em;
  font-size: 10px;
}

ul {
  padding: 0;
  list-style: none;
}

ul li a {
  text-decoration: none;
  font-size: 10px;
  color: #fff;
  transition: 0.1s all;
}

ul li a:hover {
  background: #fff;
  color: #0a0d30;
}
